h1 {
    text-align: center;   
    width: 300px;
    margin: auto;
    border: 2px solid green;
}

td {
    border: solid black 2px; 
    margin: auto; 
    width: 100px;
    height: 100px;
    text-align:center;
}

.board {
    margin: auto;
    text-align: center;
    border-collapse: collapse;
}

.playerNotSelected {
    font-size: large;
    border: 1px solid green;
    width: 15%; 
    display: inline-block;
  }
  
.playerSelected {
    font-size: large;
    border: 5px solid green;
    width: 15%; 
    display: inline-block;
}

.marked {
    background: chartreuse;
}
